{% extends 'base.html' %}

{% block content %}
<h3>Riwayat Deteksi Saya</h3>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>No</th>
      <th>Gambar Asli</th>
      <th>Gambar Segmentasi</th>
      <th>Prediksi</th>
      <th>Confidence</th>
      <th>Waktu</th>
      <th>Detail</th>
    </tr>
  </thead>

  <tbody>
    {% for row in hasil %}
    <tr>
      <td>{{ loop.index }}</td>

      <!-- GAMBAR ORIGINAL -->
      <td>
        <img
          src="{{ url_for('gambar', id=row[0], jenis='original') }}"
          width="100"
          class="img-thumbnail"
        >
      </td>

      <!-- GAMBAR SEGMENTASI -->
      <td>
        <img
          src="{{ url_for('gambar', id=row[0], jenis='segmented') }}"
          width="100"
          class="img-thumbnail"
        >
      </td>

      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}%</td>
      <td>{{ row[3] }}</td>

      <td>
        <a href="{{ url_for('hasil', id=row[0]) }}"
           class="btn btn-sm btn-primary">
           Lihat
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
